
body {
    background: #6c63ff;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #050000;
}

.card {
    background: rgb(254, 193, 203);
    border-radius: 4px;
    height:100vh;
    width: 90vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

.text {
    padding: 0em;
    color: #333;
}

.muted {
    opacity: 0.4;
}

.space {
    height: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.play-music {
    animation: fadeIn 2s ease-in-out;
}